<footer>
  <ul class="social-links">
    <li class="social-links__item">
      <a href="https://www.linkedin.com/in/jessbudd/">
        <img class="social-links__icon" src="images/icons/linkedin-in.svg" alt="linkedin">
      </a>
    </li>
    <li class="social-links__item">
      <a href="https://twitter.com/jessbudd4">
        <img class="social-links__icon" src="images/icons/twitter.svg" alt="twitter">
      </a>
    </li>
    {# <li class="social-links__item">
      <a href="https://github.com/jessbudd">
        <img class="social-links__icon" src="images/icons/github.svg" alt="Github">
      </a>
    </li> #}
  </ul>
<p>
  &copy; Copyright {{ site.buildTime | dateDisplay('yyyy') }} | Illustrations by <a href="https://undraw.co/illustrations">Undraw</a>
</p>
</footer>
