## Upcoming Talks

### [Fenders](https://www.fenders.co/)</p>

<p class="talk__title">Making React Apps Accessible</p>

25 March 2020, Perth Australia

### [Codemania](https://codemania.io/)</p>

<p class="talk__title">Making Single Page Apps Accessible: It's easier than you think</p>

6 May 2020, Auckland New Zealand


{# ### [Web Directions Code](https://www.webdirections.org/code/)</p>

<p class="talk__title">Making Single Page Apps Accessible</p>

4 June 2020, Melbourne Australia #}



### [NDC Oslo](https://ndcoslo.com/talk/making-react-apps-accessible-its-easier-than-you-think/)</p>

<p class="talk__title">Making React Apps Accessible: It's easier than you think</p>

10 June 2020, Oslo Norway


<br>