## Upcoming Talks

### [Codemania](https://codemania.io/)</p>

<p class="talk__title">Making Single Page Apps Accessible: It's easier than you think</p>

19 April 2021, Auckland New Zealand


{# ### [Web Directions Code](https://www.webdirections.org/code/)</p>

<p class="talk__title">Making Single Page Apps Accessible</p>

4 June 2020, Melbourne Australia #}



<br>