## Upcoming Talks

### [LaraconAU](https://laracon.com.au/)

<p class="talk__title">Making Single Page Apps Accessible: It's easier than you think</p>

31 October - 1 November 2019, Sydney Australia 


### [Google DevFest](https://www.gdgmelbourne.com/devfest)

<p class="talk__title">Live Life in Perpetual Beta: What Software Development Can Teach Us About Life </p>

8 November 2019, Melbourne Australia 


### [DDDAdelaide](https://www.dddadelaide.com/)

<p class="talk__title">Making React Apps Accessible: It's easier than you think</p>

23 November 2019, Adelaide Australia 