<!doctype html>
<html lang="en-au">
  <head><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103059618-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-103059618-2');
</script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon3.png">
    <title>{{ title }} - Jess Budd</title>
    {%- if meta %}<meta name="description" content="{{ meta | safe }}"">{% endif %}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}

      {{ content | safe }}
      
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>



  </body>
</html>



