/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$desk: 900px;
$wide: 1100px;

/* colours */
$page-color: #583ca0;
$heading-color: #cec2ef;
$text-color: #fff;
$accent-color: #00ffd2;
$dark-color: #382766;
$black: #272822;

