@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;
  /* background: url(/images/bg-grid.png), linear-gradient(320deg, $page-color 100%, $text-color 0%); */
  background: url(/images/bg-grid.png), linear-gradient(320deg, $dark-color, $page-color);

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    max-width: 700px;
  }
  @media (min-width: $desk) {
    max-width: 800px;
  }
  @media (min-width: $wide) {
    max-width: 1200px;
  }
}
.container__blog {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    max-width: 600px;
  }
  @media (min-width: $wide) {
    max-width: 800px;
    max-width: 42em;
  }
}

h1, h2, h3, h4, h5 {
  color: $heading-color;
  font-weight: 600;
  line-height: 1;
  a,
  a:link,
  a:visited {color: $heading-color}
}
h1 {
  font-size: 3em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @media (min-width: $desk) {
    font-size: 4em;
  }
  @media (min-width: $wide) {
    font-size: 4.5em;
  }
}
h2 {
  font-size: 2em;
  margin-top: 48px;
  margin-bottom:24px;
  line-height: 1;

  @media (min-width: $desk) {
    font-size: 2.2em;
    margin-top: 60px;
    margin-bottom:24px;
  };
  @media (min-width: $desk) {
    font-size: 2.5em;
  }
}
h3 {
  font-size: 1.5em;
  margin-top:48px;
  margin-bottom:24px;
  line-height: 1;

  @media (min-width: $desk) {
    font-size: 1.8em;
  }
  @media (min-width: $desk) {
    font-size: 2em;
  }
 }

  h4 {
    font-size: 1em;
    margin-top:24px;
    margin-bottom:12px;
    line-height: 1;
    /* @media (min-width: $wide) {
      font-size: 1.6em;
    } */
  }
  
  
p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: $text-color;
}

.subtitle {
  font-size: 1.175em;
  margin-top: 1em;
  margin-bottom: 48px;
  @media (min-width: $mid) {
    font-size: 1.3em;
  }
}

ul, ol {
  padding-left: 1em;
  margin-left: 1em;
}
li {
  margin-bottom: 6px;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color; 
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 4em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
    @media (min-width: $mid) {
      width: 6em;
    };
    @media (min-width: $wide) {
      width: 9em;
    }
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}

.secondary {
  color: $heading-color;
}
.accent {
  color: $accent-color;
}
blockquote {
  padding-left: 18px;
  margin-left: 24px;
  border-left: 1px solid $accent-color;p {
    color: $accent-color;
  }

}
code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
  color: $heading-color;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  .subtitle {
    margin-bottom: 0;
  }  
  @media (min-width: $mid) {
    flex-direction: row;
    text-align: left;
  }
  @media (min-width: $desk) {
    /* grid-template-columns: 40% 60%; */
  }
}
.hero__copy {
  width:100%;
  padding-bottom: 32px;
  @media (min-width: $mid) {
    width: 40%;
    padding-right: 1em;
    padding-top: 60px;
  }
  
}
.hero__img { 
  width: 100%;
  align-self: center;
  @media (min-width: $mid) {
    width: 60%;
  }
}
.col {
  padding-top: 50px;
  @media (min-width: $desk) {
    padding-top: 100px;
  }
}
.proof-points__title {
  margin-top: 24px;
}
.proof-points__img {
  text-align: center;
}
.proof-points__img-svg {
  width:100%;
  max-height: 150px;
}

.bio {
  border: 1px solid $heading-color;
  padding: 0 18px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 60px;
  @media (min-width: $mid) {
    flex-flow: row rap;
  }
}
.bio__avatar {
  max-width: 140px;
  border-radius: 50%;
  align-self: center;
  padding: 12px 0 0 0;
  @media (min-width: $mid) {
  padding: 12px 24px 12px 0;;
  };
}
.bio__text {
  font-size: 14px;
  font-size: 0.975em;
  line-height: 1.6;
  align-self: center;
  color: $heading-color;
  a {
    color: $heading-color;
  }
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: $heading-color;
  text-align: center;
  
  p {
    color: $heading-color;
  }

  a:link,
  a:visited {
    color: $accent-color;
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $heading-color;
    border-bottom: solid 1px $heading-color;
  }
}

.social-links__item {
  list-style: none;
  display: inline;
  padding: 0 10px;
}
a:hover .social-links__icon,
a:focus .social-links__icon,
a:active .social-links__icon {
  fill: $heading-color;
}
.social-links__icon {
  width: 40px;
  fill: $accent-color;
 
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
  @media (min-width: $desk) {
    grid-template-columns: 30% 30% 30%;
  }
}

img {
  max-width: 100%;
}
.img-full {
  display: block;
  padding: 18px 0;
  width: 100%;
}
.img-float-right {
  display: block;
  margin: 6px auto 18px;
  @media (min-width: $mid) {
    float: right;
  }
}

