@import '_utilities.css';
@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background: $page-color;
  /* background: url(/images/bg-grid.png), linear-gradient(320deg, $page-color 100%, $text-color 0%); */
  background: url(/images/bg-grid.png),
    linear-gradient(320deg, $dark-color, $page-color);

  @media (min-width: $narrow) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
@media (min-width: $mid) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: $desk) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: $wide) {
  .container {
    max-width: 1200px;
  }
}
.center {
  text-align: center;
}
.container__blog {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
.post__tag:first-of-type {
  display: none;
}
.post__tag {
  font-size: 0.775rem;
  white-space: nowrap;
  font-family: Menlo, Consolas, Monaco, monospace;
  padding: 6px 12px;
  /* background-color: #cec2ef; */
  border-radius: 4px;
  border: 1px solid #01ffd2;
}
.post__tag a:link,
.post__tag a:visited {
  color: #533897;
  color: #01ffd2;
  border-bottom: none;
}
.archive__links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.twitter a[href^="https://twitter"]
{
  font-weight: bold;
  color: $accent-color;
  text-decoration: none;
  border-bottom: none;
}

@media (min-width: $desk) {
  .container__blog {
    max-width: 800px;
    max-width: 42em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $heading-color;
  font-weight: 600;
  line-height: 1;
  a,
  a:link,
  a:visited {
    color: $heading-color;
  }
}
h1 {
  font-size: 2.5em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 1;
}
@media (min-width: $desk) {
  h1 {
    font-size: 3.5em;
  }
}
@media (min-width: $wide) {
  h1 {
    font-size: 4em;
  }
}
h2,
.h2 {
  font-size: 1.8em;
  margin-top: 48px;
  margin-bottom: 24px;
  line-height: 1;
}

@media (min-width: $desk) {
  h2,
  .h2 {
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 24px;
  }
}
@media (min-width: $wide) {
  h2,
  .h2 {
    font-size: 2.2em;
  }
}
h3,
.h3 {
  font-size: 1.2em;
  margin-top: 48px;
  margin-bottom: 24px;
  line-height: 1.4;
}
@media (min-width: $desk) {
  h3,
  .h3 {
    font-size: 1.2em;
  }
}
@media (min-width: $wide) {
  h3,
  .h3 {
    font-size: 1.5em;
  }
}

h4,
.h4 {
  font-size: 1em;
  margin-top: 24px;
  margin-bottom: 12px;
  line-height: 1;
  /* @media (min-width: $wide) {
      font-size: 1.6em;
    } */
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: $text-color;
}

.subtitle {
  font-size: 1.175em;
  margin-top: 1em;
  margin-bottom: 48px;
  text-align: left;
}
@media (min-width: $mid) {
  .subtitle {
    font-size: 1.3em;
  }
}

hr {
  border-color: mix($text-color, $accent-color, 20%);
  margin-top: 60px;
}
ul,
ol {
  padding-left: 1em;
  margin-left: 1em;
}
li {
  margin-bottom: 6px;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%);
}
a:hover,
a:focus {
  color: $accent-color;
  border-bottom-color: $accent-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style: none;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 4em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
    @media (min-width: $mid) {
      width: 6em;
    }
    @media (min-width: $wide) {
      width: 9em;
    }
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-top-color: $text-color;
    border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color, $accent-color, 60%);
  }
}

.secondary {
  color: $heading-color;
}
.accent {
  color: $accent-color;
}
blockquote {
  padding-left: 18px;
  margin-left: 24px;
  border-left: 1px solid $accent-color;
  p {
    color: $accent-color;
  }
}
code {
  font-size: 0.975rem;
  white-space: nowrap;
  font-family: Menlo, Consolas, Monaco, monospace;
  padding: 6px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  color: $heading-color;
}

code[class*='language-'] {
  font-size: 0.975rem;
}

code.block {
  background: $black;
  /* display: block; */
  padding: 6px 12px;
  hyphens: none;
  position: relative;
  line-height: 28px;
  border-radius: 8px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden;
}
pre {
  font-size: 0.95rem;
  white-space: nowrap;
  font-family: Menlo, Consolas, Monaco, monospace;
  clear: both;
  color: #fff;
  background: #272822;
  padding: 6px 12px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  line-height: 28px;
  border-radius: 8px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
  /* .pink {
    color: #F92672;
  }
  .blue {
    color: #66D9EF;
  }
  .green {
    color: #A6E22E;
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
  } */
}
pre[class*='language-'] {
  padding: 0 1em;
}
.date,
.duration {
  font-size: 0.8em;
  font-style: italic;
  color: $heading-color;
}

main {
  margin-top: 4em;
}

/* pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
} */

.hero {
  display: flex;
  flex-direction: column-reverse;
  .subtitle {
    margin-bottom: 0;
  }
  @media (min-width: $mid) {
    flex-direction: row;
    text-align: left;
  }
  @media (min-width: $desk) {
    /* grid-template-columns: 40% 60%; */
  }
}
.hero__copy {
  text-align: center;
  width: 100%;
  padding-bottom: 32px;
}
@media (min-width: $mid) {
  .hero__copy {
    width: 40%;
    padding-right: 1em;
    padding-top: 60px;
  }
}
.hero__img {
  width: 100%;
  align-self: center;
}
@media (min-width: $mid) {
  .hero__img {
    width: 60%;
  }
}
.hero__copy-alt {
  width: 100%;
}
@media (min-width: $mid) {
  .hero__copy-alt {
    width: 60%;
    padding-right: 1em;
    padding-top: 60px;
  }
}
.hero__img-alt {
  width: 100%;
  align-self: center;
}
@media (min-width: $mid) {
  .hero__img-alt {
    width: 40%;
  }
}
.col {
  padding-top: 50px;
}

@media (min-width: $desk) {
  .col {
    padding-top: 100px;
  }
}
.proof-points__title {
  margin-top: 24px;
  text-align: center;
}
.proof-points__img {
  text-align: center;
}
.proof-points__img-svg {
  width: 100%;
  max-height: 150px;
}

@media (min-width: $desk) {
  .proof-points__title {
    text-align: left;
  }
}
.emoji-legend {
  color: $heading-color;
  font-size: 0.9em;
}
.emoji-legend + .emoji-legend {
  padding-left: 20px;
}

.bio {
  border: 1px solid $heading-color;
  padding: 0 18px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 36px;
  @media (min-width: $mid) {
    flex-flow: row nowrap;
  }
}
.bio__avatar {
  max-width: 140px;
  border-radius: 50%;
  align-self: center;
  padding: 12px 0 0 0;
}
@media (min-width: $mid) {
  .bio__avatar {
    padding: 12px 24px 12px 0;
  }
}
.bio__text {
  font-size: 14px;
  font-size: 0.975em;
  line-height: 1.6;
  align-self: center;
  color: $heading-color;
  a {
    color: $heading-color;
  }
}
/* blog card styling */
.blog__listing {
  padding: 0;
  margin: 0;
  list-style: none;
  h2 {
    color: $page-color;
    font-size: 1.8rem;
    margin: 24px 0 0;
  }
  p {
    color: $page-color;
  }
  time {
    text-decoration: none;
    /* color: white; */
    font-style: italic;
    font-size: 0.875rem;
  }
}
.card {
  /* border: 1px solid $heading-color; */
  padding: 0 18px;
  margin-bottom: 24px;
  background: white;
}

footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: $heading-color;
  text-align: center;

  p {
    color: $heading-color;
  }

  a:link,
  a:visited {
    color: $accent-color;
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $heading-color;
    border-bottom: solid 1px $heading-color;
  }
}

.social-links__item {
  list-style: none;
  display: inline;
  padding: 0 10px;
}
a:hover .social-links__icon,
a:focus .social-links__icon,
a:active .social-links__icon {
  fill: $heading-color;
}
.social-links__icon {
  width: 40px;
  fill: $accent-color;
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
}
@media (min-width: $desk) {
  .grid-container {
    grid-template-columns: 30% 30% 30%;
  }
}

img,
svg {
  max-width: 100%;
}

.svg__reading {
  height: 100%;
}
@media (max-width: $mid) {
  .svg__reading {
    max-height: 280px;
  }
}
.img-full {
  display: block;
  padding: 18px 0;
  width: 100%;
}
.img-float-right {
  display: block;
  margin: 6px auto 18px;
}
@media (min-width: $mid) {
  .img-float-right {
    float: right;
  }
}
.headshot {
  border-radius: 8px;
  width: 400px;
}

.talks {
  max-width: 42em;
  margin: 0 auto;
  h3 {
    margin-bottom: 0px;
    margin-top: 24px;
  }
  h3 a {
    color: $text-color;
    font-weight: normal;
    font-size: 1.3rem;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.talk__title {
  font-style: italic;
}
.talk__link {
  font-style: normal;
}
.container__blog figure {
  margin-left: -100px;
  margin-right: -100px;
}
figure {
  border: 1px solid #cec2ef;
  border-radius: 4px;
  padding: 12px;
  margin: 24px 0;
}
figcaption {
  text-align: right;
  color: $heading-color;
  font-size: 0.872rem;
}
twitter-widget {
  padding-bottom: 25px;
}

/* archive pages */
.listing li {
  list-style: none;
  padding: 40px 0 50px;
}
.listing li:not(:last-of-type) {
  border-bottom: $accent-color 1px solid;
}
.archive__title {
  margin-top: 12px;
  a {
    border-bottom: none;
    text-decoration: none;
  }
}
/* fallback styles for twitter embeds */
blockquote.twitter-tweet {
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  background-color: #fff;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $black !important;
}

blockquote.twitter-tweet a[href^="https://twitter"]
{
  color: $black;
  font-weight: bold;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.sharethis-inline-share-buttons {
  margin: 60px 0 0;
}

.listing time {
  color: $heading-color;
}

a.archive__read-more {
  /* font-size: .875rem; */
  /* font-weight: bolder; */
  color: $heading-color;
  border-bottom-color: $heading-color;
}
a.archive__read-more:hover,
a.archive__read-more:focus {
  /* font-size: .875rem; */
  /* font-weight: bolder; */
  color: $accent-color;
  border-bottom-color: $accent-color;
}

.separator {
  padding: 0 5px;
}
footer .footer-nav a {
  color: mix($text-color, $accent-color, 80%);
}
/* @media (max-width: 480px) {
  .nav li:nth-of-type(3) {
    display: none;
  }
} */
